.box {
  border: solid;
  border-width: 1px;
  border-color: black;
  width: 50%;
  height: 38%;
  margin: auto;
  padding: 30px;
  box-shadow: 10px 5px 5px gray;
  border-radius: 10px;
  position: absolute;
  top: 250px;
  left: 25%;
}
.image {
  width: 350px;
  height: 350px;
  z-index: 1500;
  margin: auto;
  position: absolute;
  top: 53px;
  left: 40%;
  box-sizing: border-box;
}
@media (max-width: 900px) {
  .image {
    height: 300px;
    width: 300px;
    left: 20%;
  }
  .box {
    top: 220px;
    left: 12%;
  }
}
@media (max-width: 500px) {
  .image {
    width: 200px;
    height: 200px;
    left: 20%;
    top: 70px;
  }
  .box {
    top: 180px;
    left: 12%;
  }
  .button {
    padding: 7px;
    font-size: 12px;
  }
  .button:hover {
    background-color: darkblue;
    color: white;
    border-radius: 5px;
  }
}
.form {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.button {
  padding: 10px;
  margin: auto;
  margin-top: 10px;
  background-color: transparent;
  color: darkblue;
  font-weight: bolder;
  border: none;
  font-size: 20px;
}
.button:hover {
  background-color: darkblue;
  color: white;
  border-radius: 5px;
}
.btndisabled {
  background-color: rgb(155, 153, 153);
  color: rgb(51, 51, 51);
  padding: 10px;
  font-weight: bolder;
  border: solid;
  font-size: 20px;
  margin: auto;
  margin-top: 10px;
}
